@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
}

header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 266.66px;
  height: 50px;
  margin: auto 20px;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav ul li:hover {
  background-color: #0A6C8A;
}

nav ul li a:hover {
  color: #f8f8f8;
}

nav a {
  font-weight: bolder;
  display: block;
  padding: 31px 20px;
  color: #0A6C8A;
  text-decoration: none;
  text-align: center;
}

header .menu-mobile {
  display: none;
  cursor: pointer;
  margin: 15px 10px 15px 10px;
  padding: 15px;
}

header .menu-mobile .mm-line {
  width: 25px;
  height: 3px;
  background-color: #0A6C8A;
  margin-bottom: 4px;
}

header .mobile-nav {
  display: flex;
  align-items: center;
}

/* Estilo para as seções */
.section {
  border-top: 0.0625rem solid #ccc;
  /* Adicione uma borda superior */
  padding: 3.125rem 0rem;
  /* Adicione um espaçamento para separar as seções */
}

/* Estilo para a seção home */
#home {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  /* Evita a repetição da imagem de fundo */
  background-size: cover;
  /* Redimensiona a imagem para cobrir todo o elemento */
  background-position: center top;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .rgba {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

}

/* Estilo para o texto de boas-vindas */
#home .welcome-text {
  margin-top: 250px;
  color: #7B9FB0;
}

/* Estilo para o título */
#home .welcome-text h1 {
  font-size: 2.25rem;
  margin-top: 7.5rem;
}

/* Estilo para o parágrafo */
#home .welcome-text p {
  font-size: 1.3rem;
  margin-bottom: 1.875rem;
}

/* Estilo para o botão */
#home .welcome-text .btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #0A6C8A;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

#home .welcome-text .btn:hover {
  background-color: #fff;
  color: #0A6C8A;

}

/* Estilo para a transição do fundo */
#home.active-section {
  background-size: 92%;
}

#sobre {
  padding: 49px 50px 50px 50px;
  background-color: #B2CED8;
}

#sobre .container {
  display: flex;
  max-width: 1250px;
}

#sobre .imgs {
  display: flex;
  margin: auto 3rem;
}

#sobre .imgs img {
  border-radius: 2rem;
  width: 200px;
  height: 150px;
  margin-right: 1.5rem;
  transition: transform 0.3s ease;
}

#sobre .imgs img:hover {
  scale: 1.05;
}

#sobre .imgs .image--left img {
  width: 10rem;
  height: calc(10.6rem * 2);
  margin-right: 1rem;
  border-radius: 10px;
}

#sobre .imgs .image--right img {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}

#sobre .imgs .image--right div:nth-child(2) img {
  margin-top: 1rem;
  border-radius: 10px;
}

#sobre .text h3 {
  font-size: 2.5rem;
}

#sobre .text p {
  font-size: 1.1rem;
  color: #0A6C8A;
}

#sobre h3 {
  font-size: 2.25rem;
  color: #0A6C8A;
}

#sobre p {
  color: #fff;
  font-size: 1.08rem;
}

#sobre .text {
  flex-grow: 1;
  text-align: justify;
}

#servicos {
  background-color: #0A6C8A;
  padding: 49px 50px 50px 50px;
}

#servicos .container {
  display: flex;
  justify-content: center;
  width: 100%;

  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}

#servicos .item {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

#servicos .imgs {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-left: 3.125rem;
}

#servicos .item img {
  border-radius: 2rem;
  width: 200px;
  height: 150px;
  margin-right: 1.5rem;
}

#servicos img:hover {
  transform: scale(1.1);
}

#servicos .item-content {
  color: #fff;
}

#servicos .item-content h3,
#servicos .item-content p {
  margin: 16px auto;
  color: #fff;
  text-align: left;
}

#servicos .item-content p {
  margin-top: 0.5rem;
}

/* Estilo para a seção de contato */
#contato {
  background-color: #B2CED8;
  padding: 3.125rem;
  display: flex;
}

/* Estilo para a parte esquerda da seção de contato */
#contato .endereco {
  margin-top: 20px;
  max-width: 50%;
  margin-right: 200px;
}

#contato .endereco h3 {
  margin-bottom: 0.625rem;
  color: #0A6C8A;
}

#contato .endereco p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #0A6C8A;
}

/* Estilo para o ícone do Instagram */
#contato .endereco img {
  width: 1.875rem;
}

/* Estilo para a parte direita da seção de contato */
#contato .formulario {
  width: 100%;
  max-width: 50%;
  /* Limita a largura máxima */
  margin-top: 1.25rem;
  /* Adiciona espaçamento superior */
}

#contato .formulario h3 {
  margin-bottom: 1rem;
  color:#0A6C8A;
}

#contato .formulario form {
  display: flex;
  flex-direction: column;
}

#contato .formulario input,
#contato .formulario textarea {
  margin-bottom: 1.625rem;
  padding: 0.625rem;
}

#contato .formulario button {
  padding: 0.625rem 1.25rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#contato .formulario button:hover {
  background-color: #444;
}

/* Estilo para o mapa */
#contato .mapa {
  width: 100%;
  /* Ocupa 100% do contêiner */
  height: 11.25rem;
  margin-top: 1.25rem;
  /* Adiciona espaçamento superior */
}

.whatsapp-button {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.whatsapp-button img {
  width: 50%;
  height: auto;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

footer {
  background-color: #f8f8f8;
  padding: 0.625rem;
  text-align: center;
  font-size: 0.75rem;
  color: #777;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content span {
  margin-right: 0.625rem;
}

.footer-content a {
  color: #777;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.menu_mobile .mm_line:nth-child(2),
.menu_mobile .mm_line:nth-child(3) {
  margin-top: 7px;
}
/* ********************************************* */
/* Media queries para tornar o layout responsivo */
/* ********************************************* */
@media (min-width: 769px) and (max-width: 1024px) {
  nav a {
    width: auto;
  }

  #sobre {
    padding: 49px 50px 50px 50px;
    display: flex;
    justify-content: center;
  }

  #sobre .container {
    display: flex;
    max-width: 720px;
    flex-direction: column;
  }

  #sobre .imgs {
    justify-content: center;
    margin: auto 3rem;
  }

  #sobre .imgs img {
    border: 1px solid #0A6C8A;
  }

  #sobre .imgs img:hover {
    scale: 1.05;
  }

  #sobre .imgs .image--right {
    display: flex;
  }

  #sobre .imgs .image--left img,
  #sobre .imgs .image--right img {
    width: 9rem;
    height: 13rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  #sobre .imgs .image--right div:nth-child(2) img {
    margin-top: 0;
  }

  #sobre .text h3 {
    font-size: 2.3rem;
  }

  #sobre .text p {
    font-size: 1.1rem;
    color: #0A6C8A;
  }

  #servicos .item {
    width: auto;
  }

  #servicos .item-content h3 {
    font-size: 1.5rem;
  }

  #servicos .item-content p {
    font-size: 1rem;
  }

  #contato button {
    margin-left: auto;
  }
  
  #contato .endereco h3 {
    font-size: 1.5rem;
  }

  #contato .endereco p {
    font-size: 1rem;
  }

  #contato .endereco {
    margin-top: 20px;
    max-width: 50%;
    margin-right: 50px;
  }

  #contato .formulario h3 {
      font-size: 1.5rem;
  }

  .whatsapp-button {
    position: fixed;
    bottom: .25rem;
    right: .25rem;
    width: 3.375rem;
    height: 3.375rem;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  header .mobile-nav {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }

  header .nav-active {
    display: flex;
  }

  nav a {
    width: auto;
  }

  #home {
    padding: 24.5px 25px 25px 25px;
  }

  #home .welcome-text h1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  #home .welcome-text p {
    font-size: 1rem;
  }

  #sobre {
    padding: 24.5px 25px 25px 25px;
  }

  #sobre .container {
    display: flex;
    max-width: 720px;
    flex-direction: column;
  }

  #sobre .imgs {
    margin: auto;
  }

  #sobre .imgs img {
    border: 1px solid #0A6C8A;
  }

  #sobre .imgs img:hover {
    scale: 1.05;
  }

  #sobre .imgs .image--right {
    display: flex;
  }

  #sobre .imgs .image--left img,
  #sobre .imgs .image--right img {
    width: 7rem;
    height: 8.5rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  #sobre .imgs .image--right div:nth-child(2) img {
    margin-top: 0;
  }

  #sobre .text h3 {
    font-size: 1.5rem;
  }

  #sobre .text p {
    font-size: 0.8rem;
    color: #0A6C8A;
  }

  #servicos .item {
    width: auto;
    flex-direction: column;
    margin: 10px auto;
  }

  #servicos .item img {
    margin: 0;
  }

  #servicos .item .item-content h3,
  #servicos .item .item-content p {
    text-align: center;
    max-width: 300px;
  }

  #contato {
    flex-direction: column;
    padding: 24.5px 25px 25px 25px;

  }

  #contato .endereco {
    max-width: 100%;
    margin: auto
  }

  #contato .endereco h3,
  #contato .endereco p {
    text-align: center;
  }

  #contato .endereco a {
    display: flex;
    justify-content: center;
  }

  #contato .formulario {
    max-width: 100%;
  }

  #contato .formulario h3 {
    text-align: center;
  }


  #contato .formulario button {
    margin: auto;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 2.5rem;
    right: 0.50rem;
    width: 3.375rem;
    height: 3.375rem;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  header .logo img {
    width: calc(266.66px / 1.5);
    height: calc(50px / 1.5);
    margin: auto 20px;
  }

  header .mobile-nav {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }

  header .nav-active {
    display: flex;
  }

  nav a {
    width: auto;
  }

  #home {
    padding: 24.5px 25px 25px 25px;
  }

  #home .welcome-text h1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  #home .welcome-text p {
    font-size: 1rem;
  }

  #sobre {
    padding: 24.5px 25px 25px 25px;
  }

  #sobre .container {
    display: flex;
    max-width: 720px;
    flex-direction: column;
  }

  #sobre .imgs {
    margin: auto;
    display: none;
  }

  #sobre .imgs img {
    border: 1px solid #0A6C8A;
  }

  #sobre .imgs img:hover {
    scale: 1.05;
  }

  #sobre .imgs .image--right {
    display: flex;
  }

  #sobre .imgs .image--left img,
  #sobre .imgs .image--right img {
    width: 7rem;
    height: 8.5rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  #sobre .imgs .image--right div:nth-child(2) img {
    margin-top: 0;
  }

  #sobre .text h3 {
    font-size: 1.5rem;
  }

  #sobre .text p {
    font-size: 0.8rem;
    color: #0A6C8A;
  }

  #servicos .item {
    width: auto;
    flex-direction: column;
    margin: 10px auto;
  }

  #servicos .item img {
    margin: 0;
  }

  #servicos .item .item-content h3,
  #servicos .item .item-content p {
    text-align: center;
    max-width: 300px;
  }

  #servicos .item .item-content h3 {
    font-size: 1.5rem;

  }
  #servicos .item .item-content p {
    font-size: 0.8rem;

  }

  #contato {
    flex-direction: column;
    padding: 24.5px 25px 25px 25px;

  }

  #contato .endereco {
    max-width: 100%;
    margin: auto
  }

  #contato .endereco h3,
  #contato .endereco p {
    text-align: center;
  }

  #contato .endereco h3 {
    font-size: 1.5rem;
  }
  #contato .endereco p {
    font-size: 0.8rem;
  }

  #contato .endereco a {
    display: flex;
    justify-content: center;
  }

  #contato .formulario {
    max-width: 100%;
  }

  #contato .formulario h3 {
    text-align: center;
    font-size: 1.5rem;
  }


  #contato .formulario button {
    margin: auto;
  }

  .whatsapp-button {
    position: fixed;
    bottom: 2.5rem;
    right: 0.50rem;
    width: 3.375rem;
    height: 3.375rem;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
}