* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para o navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Estilo para os links do navbar */
nav a {
  color: #0A6C8A;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.625rem;
}

/* Estilo para a imagem do logo */
.logo img {
  height: 3.125rem;
}

/* Estilo para as seções */
.section {
  border-top: 0.0625rem solid #ccc; /* Adicione uma borda superior */
  padding-top: 3.125rem; /* Adicione um espaçamento para separar as seções */
}

/* Estilo para a seção home */
.home {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
  background-position: center top;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilo para o texto de boas-vindas */
.home .welcome-text {
  color: #0A6C8A;
}

/* Estilo para o título */
.home .welcome-text h1 {
  font-size: 2.25rem;
  margin-top: 7.5rem;
}

/* Estilo para o parágrafo */
.home .welcome-text p {
  font-size: 1.300rem;
  margin-bottom: 1.875rem;
}

/* Estilo para o botão */
.home .welcome-text .btn {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #7B9FB0;
  color: #0A6C8A;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.home .welcome-text .btn:hover {
  background-color: #eaeaea;
}

/* Estilo para a transição do fundo */
.home.active-section {
  background-size: 92%;
}

.text-container {
  display: flex;
  align-items: flex-start;
  gap: 1.0rem;
}

.image-container {
  flex-basis: 50%;
}

.image-container > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.0rem;
}

.image-container img {
  max-width: 100%; /* Adicionado: Limita a largura da imagem */
  height: auto;
  border-radius: 5px;
  margin-left: 0.625rem;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.image-container img:hover {
  transform: scale(1.1);
}

.text {
  flex-grow: 1;
  margin-left: 0.5rem;
  text-align: justify;
}


.sobre {
  background-color: #B2CED8;
}

h3 {
  font-size: 2.25rem;
  color: #0A6C8A;
}

p {
  color: #0C6D8A;
  font-size: 1.1rem;
}

.text {
  flex-grow: 1;
  text-align: justify;
}

.servicos {
  background-color: #0A6C8A;
  padding: 0;
}

.servicos .container {
  padding: 3.125rem;
}

.servicos .row {
  display: flex;
  flex-wrap: wrap; /* Adiciona quebra de linha quando necessário */
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

.servicos .col {
  flex: 1; /* Ocupa o espaço disponível horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.servicos .item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.servicos img {
  width: 100%; /* Alterado: Ocupa 100% do contêiner */
  max-width: 200px; /* Adicionado: Limita a largura máxima da imagem */
  height: auto;
  border-radius: 15%;
  transition: transform 0.3s ease;
  margin-right: 1em;
}

.servicos img:hover {
  transform: scale(1.1);
}

.servicos .item-content {
  color: #fff;
}

.servicos .item-content h3,
.servicos .item-content p {
  color: #fff;
  text-align: left;
}

.servicos .item-content p {
  margin-top: 0.5rem;
}

/* Estilo para a seção de contato */
.contato {
  background-color: #B2CED8;
  padding: 3.125rem;
}

/* Estilo para o wrapper da seção de contato */
.contato-wrapper {
  display: flex;
  flex-wrap: wrap; /* Adiciona quebra de linha quando necessário */
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilo para a parte esquerda da seção de contato */
.endereco {
  width: 100%;
  max-width: 30%; /* Limita a largura máxima */
}

.endereco h3 {
  margin-bottom: 0.625rem;
}

.endereco p {
  margin-bottom: 1.25rem;
}

/* Estilo para o ícone do Instagram */
.endereco img {
  width: 1.875rem;
}

/* Estilo para a parte direita da seção de contato */
.formulario {
  width: 100%;
  max-width: 50%; /* Limita a largura máxima */
  margin-top: 1.25rem; /* Adiciona espaçamento superior */
}

.formulario h3 {
  margin-bottom: 1.25rem;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario input,
.formulario textarea {
  margin-bottom: 1.625rem;
  padding: 0.625rem;
}

.formulario button {
  padding: 0.625rem 1.25rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #444;
}

/* Estilo para o mapa */
.mapa {
  width: 100%; /* Ocupa 100% do contêiner */
  height: 11.25rem;
  margin-top: 1.25rem; /* Adiciona espaçamento superior */
}

.whatsapp-button {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.whatsapp-button img {
  width: 50%;
  height: auto;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}

footer {
  background-color: #f8f8f8;
  padding: 0.625rem;
  text-align: center;
  font-size: 0.75rem;
  color: #777;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content span {
  margin-right: 0.625rem;
}

.footer-content a {
  color: #777;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* Media queries para tornar o layout responsivo */
@media screen and (max-width: 768px) {
  nav {
    padding: 0.625rem;
  }

  nav a {
    margin-left: 0.625rem;
  }

  .logo img {
    height: 2.5rem;
  }

  .home .welcome-text h1 {
    font-size: 1.875rem;
    margin-bottom: 0.9375rem;
  }

  .home .welcome-text p {
    font-size: 1rem;
    margin-bottom: 1.5625rem;
  }

  .home .welcome-text .btn {
    padding: 0.5rem 1rem;
  }

  .text-container {
    flex-direction: column;
    text-align: center;
  }

  .about {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  .servicos .row {
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center;
  }

  .servicos .col {
    flex: none; /* Remove a expansão horizontal */
  }

  .servicos img {
    max-width: 100%; /* Ocupa a largura máxima do contêiner */
  }

  .contato-wrapper {
    flex-direction: column; /* Alinha os elementos verticalmente */
  }

  .endereco,
  .formulario {
    width: 100%; /* Ocupa 100% do contêiner */
    max-width: none; /* Remove a limitação de largura máxima */
  }

  .formulario {
    width: 100%;
    margin-left: 0;
  }

  .mapa {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .servicos div {
    gap: 1.25rem;
  }

  .servicos .item {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .contato {
    padding: 2.5rem;
  }

  .formulario {
    margin-left: 0;
  }
}
